.sparkline-chart {
  $background-color: #1b1b1d;
  $color: #ffffff;
  $sidebar-hover: #161617;
  $shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
  $border: 1px solid #0e0d0d;
  $row-hover: #161617;
  $trade-input: #171718;
  $trade-input-hover: 1px solid #8c8c87;
  $theme-background: white;
  $theme-color: black;
  $tag-background: #182b27;
  $tag-text: rgb(0, 183, 70);
  $tag-text-negative: rgb(239, 64, 60);

  @media (max-width: 999px) {
    margin: 0 5%;
  }

  .difference-indicator-container {
    margin-top: 0.5rem;
    .difference-indicator {
      transition: color 0.2s;
    }
    .difference-indicator-period {
      color: #777;
      font-size: smaller;
    }
  }

  .toggle-candle {
    display: flex;
    align-items: center;
    span {
      margin-right: 0.5rem;
    }
  }

  .button-list {
    display: flex;
    justify-content: space-between;
  }

  .apexcharts-xaxistooltip {
    top: 0 !important;
    color: #ccc !important;
    background: none !important;
    border: none !important;
    &:after {
      display: none;
    }
    &:before {
      display: none;
    }
  }

  .candlestick {
    .apexcharts-tooltip.apexcharts-theme-light {
      border: none !important;
      background: none !important;
    }
  }

  background-color: $background-color;
  color: $color;

  .loading-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
  }

  .loading-icon-stock-card {
    align-self: center;
    margin-top: 80px;
  }

  .loading-icon-portfolio-row {
    margin-left: 100px;
  }
  .range-buttons {
    color: $color;
    background-color: inherit;
    border: none;
    padding-left: 0px;
    margin-right: 10px;
    font-size: 16px;
    outline: none;
    &.selected {
      color: $tag-text !important;
      &.negative {
        color: $tag-text-negative !important;
      }
    }
  }

  .range-buttons:hover {
    color: $tag-text !important;
    &.negative {
      color: $tag-text-negative !important;
    }
    cursor: pointer;
  }

  .range-buttons:active {
    text-decoration: underline;
  }

  .recharts-wrapper {
    width: 100%;
  }

  .recharts-surface {
    width: 100%;
  }

  .percent-change {
    z-index: 4;
  }

  .stock-chart-price {
    &--currency {
      width: 1.25rem;
      height: 3rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.7px;
    line-height: 42px;
  }

  .stock-chart {
    -webkit-transition: border-bottom 2s ease-out;
    -moz-transition: border-bottom 2s ease-out;
    -o-transition: border-bottom 2s ease-out;
    transition: border-bottom 2s ease-out;
  }

  .chart-header {
    margin-top: -2%;
    margin-bottom: 1rem;
  }

  .tags {
    display: flex;
  }

  .tag {
    color: $tag-text;
    background-color: $tag-background;
    font-size: 16px;
    margin: 0 20px 12px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 28px;
    overflow: hidden;
    padding: 0 14px;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
  }

  .company-name {
    font-size: 36px;
    max-width: 497px;
    letter-spacing: -0.2896px;
    line-height: 42px;
  }
}

.sparkline-chart.light {
  $background-color: white;
  $color: black;
  background-color: $background-color;
  color: $color;

  .range-buttons {
    color: $color;
  }
}

.toggle-candle {
  font-size: 16px;
}
